    .btn.is-open ~ .description {
  opacity: 0;
}

.btn {
  display: block;
  position: relative;
 
  transition: width $transition-duration $transition-easing,
        height $transition-duration $transition-easing,
        transform $transition-duration $bounce-easing;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  text-align: center;
}

.btn-front {
 
 display: block;
  width:20px;
  height: 10px;
  position: relative;
  background-color: #F44336;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
  transition: background 0.15s ease,
              line-height $transition-duration $transition-easing;

  &:hover {
    background-color: lighten(#F44336, 10%);
  }
}

.btn-back {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #eee;
  color: #222;
  transform: translateZ(-2px) rotateX(180deg);
  overflow: hidden;
  transition: box-shadow $transition-duration ease;

 

  button {
    padding: 12px 20px;
    width: 30%;
    margin: 0 5px;
    background-color: transparent;
    border: 0;
    border-radius: 2px;
    font-size: 1em;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
    transition: background 0.15s ease;
  }

  button:focus {
    outline: 0;
  }

  button.yes {
    background-color: #2196F3;
    color: #fff;

    &:hover {
      background-color: lighten(#2196F3, 10%);
    }
  }

  button.no {
    color: #2196F3;

    &:hover {
      background-color: #ddd;
    }
  }
}

.btn[data-direction="left"] .btn-back,
.btn[data-direction="right"] .btn-back {
  transform: translateZ(-2px) rotateY(180deg);
}

.btn.is-open {
  width: $opened-width;
  height: $opened-height;

  .btn-front {
    pointer-events: none;
    line-height: $opened-height;
  }

  .btn-back {
    box-shadow: 0 8px 25px rgba(0,0,0,0.4);
  }
}

.btn[data-direction="top"].is-open {
  transform: rotateX(180deg);
}

.btn[data-direction="right"].is-open {
  transform: rotateY(180deg);
}

.btn[data-direction="bottom"].is-open {
  transform: rotateX(-180deg);
}

.btn[data-direction="left"].is-open {
  transform: rotateY(-180deg);
}



   